@media screen and (max-width:355px) {
    #calculadora{
        width: 310px;
    }

    .nums{
        height: 55px;
        width: 103px;
    }

    #igual{
        width: 320px;
    }

    .nums {
        order: 1;
    }
    
    #soma, #subtração, #divisão, #multiplicação{
        order: 2;
    }

    #potência, #vírgula{
        order: 3;
    }
    
    #limpar, #apagar, #igual {
        order: 4;
    }

}